<launch>
	<arg name="rate" default="1"/>
	<arg name="start" default="0"/>

	<param name="/use_sim_time" value="true"/>

	<node  name="rslidar32_pointcloud" pkg="rslidar_pointcloud_stamped" type="cloud_node_stamped" output="screen" >
		<remap from="rslidar_packets" to="rslidar32_packets"/>
		<remap from="rslidar_packets_difop" to="rslidar32_packets_difop"/>
		<param name="output_points_topic" value="rslidar32_points" />
		<param name="model" value="RS32"/>
		<param name="curves_path" value="$(find rslidar_pointcloud)/data/configuration_files_161192401427/curves.csv" />
		<param name="angle_path" value="$(find rslidar_pointcloud)/data/configuration_files_161192401427/angle.csv" />
		<param name="channel_path" value="$(find rslidar_pointcloud)/data/configuration_files_161192401427/ChannelNum.csv" />
		<param name="curves_rate_path" value="$(find rslidar_pointcloud)/data/configuration_files_161192401427/CurveRate.csv" />
		<param name="max_distance" value="200"/>
		<param name="min_distance" value="0.2"/>
		<param name="resolution_type" value="0.5cm"/>
		<param name="intensity_mode" value="1"/>
	</node>

	<node name="pcl_deskew_node" pkg="pointcloud_motion_deskew" type="pointcloud2_deskew_node" >
		<remap from="input_point_cloud" to="rslidar32_points" />
		<remap from="output_point_cloud" to="rslidar32_points_deskewed" />
	</node>

	<include file="$(find warthog_description)/launch/description.launch"/>

	<node pkg="rosbag" type="play" name="play" output="screen" args="-r $(arg rate) --clock $(arg bagfile) -s $(arg start) -d 2"/>
</launch>

